-
	var dataMixin = [
		{
			name: 'Collana Multifilo',
			subtitle: '',
			price: '$25.00',
			oldprice: '',
			color: '',
			fsale: '',
			fnew: '',
			rating: true,
			color_star: ['#ffbb04','#ffbb04','#ffbb04','','',],
			img: 'img/03shop1.jpg',
			heart: false,
			page: false,
			button: false,
		},
		{
			name: 'The Arley In Wildfire',
			subtitle: '',
			price: '$185.00',
			oldprice: '$380.00',
			color: 'red',
			fsale: 'sale',
			fnew: 'new',
			rating: true,
			color_star: ['#ffbb04','#ffbb04','#ffbb04','#ffbb04','',],
			img: 'img/03shop2.jpeg',
			heart: false,
			page: false,
			button: false,
		},
		{
			name: 'Colorful Print',
			subtitle: '',
			price: '$605.00',
			oldprice: '',
			color: '',
			fsale: '',
			fnew: '',
			rating: true,
			color_star: ['#ffbb04','#ffbb04','#ffbb04','','',],
			img: 'img/03shop3.jpg',
			heart: false,
			page: false,
			button:  false,
		},
		{
			name: 'Mini Sundress',
			subtitle: '',
			price: '$19.95',
			oldprice: '',
			color: '',
			fsale: '',
			fnew: 'new',
			rating: '',
			color_star: ['','','','','',],
			img: 'img/03shop4.jpg',
			heart: false,
			page: false,
			button: false,
		},
		{
			name: 'Romantic Floral',
			subtitle: '',
			price: '$20.00',
			oldprice: '',
			color: '',
			fsale: '',
			fnew: '',
			rating: '',
			color_star: ['','','','','',],
			img: 'img/03shop5.jpg',
			heart: false,
			page: false,
			button: false,
		},
		{
			name: 'Premium Cardigan',
			subtitle: '',
			price: '$25.00',
			oldprice: '',
			color: '',
			fsale: '',
			fnew: '',
			rating: '',
			color_star: ['','','','','',],
			img: 'img/03shop6.jpg',
			heart: false,
			page: false,
			button: false,
		},
		{
			name: 'Bloomington Round',
			subtitle: '',
			price: '$20.00',
			oldprice: '',
			color: '',
			fsale: '',
			fnew: '',
			rating: '',
			color_star: ['','','','','',],
			img: 'img/03shop7.jpg',
			heart: false,
			page: false,
			button: false,
		},
		{
			name: 'Classics Automatic',
			subtitle: '',
			price: '$19.95',
			oldprice: '',
			color: '',
			fsale: '',
			fnew: 'new',
			rating: '',
			color_star: ['','','','','',],
			img: 'img/03shop8.jpg',
			heart: false,
			page: false,
			button: false,
		},
		{
			name: 'Slim-fit linen shirt',
			subtitle: '',
			price: '$25.00',
			oldprice: '',
			color: '',
			fsale: '',
			fnew: '',
			rating: true,
			color_star: ['#ffbb04','#ffbb04','#ffbb04','','',],
			img: 'img/03shop9.jpg',
			heart: false,
			page: false,
			button: false,
		},
	]


	var dataMixin_homepage_home = [
		{
			name: 'Salt & Pepper Bottle Grinders',
			subtitle: 'discover now',
			price: '',
			oldprice: '',
			color: '',
			fsale: '',
			fnew: '',
			rating: '',
			color_star: '',
			img: 'img/02Salt-Pepper-Bottle-Grinder-by-Norm-Architects-3.jpg',  // 'img/02Salt & Pepper Bottle Grinders.jpg',
			
			heart: false,
			page: 2,
			button: false,
		},
		{
			name: 'Restore storage basket',
			subtitle: 'discover now',
			price: '',
			oldprice: '',
			color: '',
			fsale: '',
			fnew: '',
			rating: '',
			color_star: '',
			img: 'img/02BASKET.jpg', //'img/02Restore storage basket.jpeg',
			heart: false,
			page: 2,
			button: false,
		},
		{
			name: 'Gubi Adnet Circulaire Mirror Tan',
			subtitle: 'discover now',
			price: '',
			oldprice: '',
			color: '',
			fsale: '',
			fnew: '',
			rating: ' ',
			color_star: '',
			img: 'img/02Mirrors-in-tan-leather.jpg', //'img/02Gubi Adnet Circulaire Mirror Tan.jpg',
			heart: false,
			page: 2,
			button: false,
		},
		{
			name: 'Ferm Living Hexagon Pot Brass',
			subtitle: 'discover now',
			price: '',
			oldprice: '',
			color: '',
			fsale: '',
			fnew: '',
			rating: '',
			color_star: '',
			img: 'img/02Ferm-Living-Hexagon-Pot-Brass-3.jpg',//'img/02Ferm Living Hexagon Pot Brass.jpg',
			heart: false,
			page: 2,
			button: false,
		},
		
		]

		var dataMixin_homepage_rec = [
		{
			name: 'Rollo LoyalBlue',
			subtitle: '',
			price: '$92.00',
			oldprice: '',
			color: '',
			fsale: '',
			fnew: '',
			rating: '',
			color_star: '',
			img: 'img/02Rollo LoyalBlue.jpg',
			heart: true,
			page: 1,
			button: true,
		},
		{
			name: 'Echasse Bowl',
			subtitle: '',
			price: '$252.00',
			oldprice: '',
			color: '',
			fsale: '',
			fnew: '',
			rating: '',
			color_star: '',
			img: 'img/02Echasse Bowl.jpg',
			heart: true,
			page: 1,
			button: true,
		},
		{
			name: 'Mimic Mirror',
			subtitle: '',
			price: '$44.00',
			oldprice: '',
			color: '',
			fsale: '',
			fnew: 'new',
			rating: '',
			color_star: '',
			img: 'img/02MimicMirror.jpg',
			heart: true,
			page: 1,
			button: true,
		},
		{
			name: 'rp78 turntable',
			subtitle: '',
			price: '$190.05',
			oldprice: '',
			color: '',
			fsale: '',
			fnew: '',
			rating: '',
			color_star: '',
			img: 'img/02rp78 turntable.jpg',
			heart: true,
			page: 1,
			button: true,
		},
		{
			name: 'Rollo LoyalBlue',
			subtitle: '',
			price: '$92.00',
			oldprice: '',
			color: '',
			fsale: '',
			fnew: '',
			rating: '',
			color_star: '',
			img: 'img/02Echasse Bowl.jpg',
			heart: true,
			page: 1,
			button: true,
		},
		{
			name: 'Rollo LoyalBlue',
			subtitle: '',
			price: '$92.00',
			oldprice: '',
			color: '',
			fsale: '',
			fnew: '',
			rating: '',
			color_star: '',
			img: 'img/02MimicMirror.jpg',
			heart: true,
			page: 1,
			button: true,
		},
		
		]

	var dataMixin_product = [
		{
			name: 'Slim-fit linen shirt',
			subtitle: '',
			price: '$25.00',
			oldprice: '',
			color: '',
			fsale: '',
			fnew: '',
			rating: true,
			color_star: ['#ffbb04','#ffbb04','#ffbb04','','',],
			img: 'img/04SelectedFavourites1.jpeg',
			heart: false,
			page: 3,
			button: false,
		},
		{
			name: 'Slim-fit cotton shirt',
			subtitle: '',
			price: '$380.00',
			oldprice: '',
			color: '',
			fsale: '',
			fnew: 'NEW',
			rating: true,
			color_star: ['#ffbb04','#ffbb04','','','',],
			img: 'img/04SelectedFavourites2.jpeg',
			heart: false,
			page: 3,
			button: false,
		},
		{
			name: 'Embroidered long dress',
			subtitle: '',
			price: '$605.00',
			oldprice: '',
			color: '',
			fsale: '',
			fnew: '',
			rating: true,
			color_star: ['#ffbb04','#ffbb04','#ffbb04','','',],
			img: 'img/04SelectedFavourites3.jpeg',
			heart: false,
			page: 3,
			button: false,
		},
		{
			name: 'Puffed sleeves blouse',
			subtitle: '',
			price: '$19.95',
			oldprice: '',
			color: '',
			fsale: '',
			fnew: 'NEW',
			rating: true,
			color_star: false,
			img: 'img/04SelectedFavourites4.jpeg',
			heart: false,
			page: 3,
			button: false,
		},
	]

	var dataMixin_bought = [
		{
			name: 'Collana Multifilo',
			subtitle: '',
			price: '$25.00',
			oldprice: '',
			color: '',
			fsale: '',
			fnew: '',
			rating: true,
			color_star: ['#ffbb04','#ffbb04','#ffbb04','','',],
			img: 'img/04alsoBought1.jpg',
			heart: false,
			page: 3,
			button: false,
		},
		{
			name: 'The Arley In Wildfire',
			subtitle: '',
			price: '$185.00',
			oldprice: '$380.00',
			color: 'red',
			fsale: 'sale',
			fnew: 'new',
			rating: true,
			color_star: ['#ffbb04','#ffbb04','#ffbb04','#ffbb04','',],
			img: 'img/04alsoBought2.jpg',
			heart: false,
			page: 3,
			button: false,
		},
		{
			name: 'Colorful Print',
			subtitle: '',
			price: '$605.00',
			oldprice: '',
			color: '',
			fsale: '',
			fnew: '',
			rating: true,
			color_star: ['#ffbb04','#ffbb04','#ffbb04','','',],
			img: 'img/04alsoBought3.jpg',
			heart: false,
			page: 3,
			button:  false,
		},
		{
			name: 'Mini Sundress',
			subtitle: '',
			price: '$19.95',
			oldprice: '',
			color: '',
			fsale: '',
			fnew: 'new',
			rating: '',
			color_star: ['','','','','',],
			img: 'img/04alsoBought4.jpg',
			heart: false,
			page: 3,
			button: false,
		},
	]

	var dataMixin_searchResult = [
		{
			name: 'Ruffled dress',
			subtitle: '',
			price: '$45.00',
			oldprice: '90.00',
			color: 'red',
			fsale: 'sale',
			fnew: '',
			rating: '',
			color_star: ['','','','','',],
			img: 'img/05result1.jpg',
			heart: true,
			page: 3,
			button: false,
		},
		{
			name: 'TOversized Sweatshirt In Pink',
			subtitle: '',
			price: '$250.00',
			oldprice: '',
			color: '',
			fsale: '',
			fnew: '',
			rating: '',
			color_star: ['','','','','',],
			img: 'img/05result2.jpg',
			heart: true,
			page: 3,
			button: false,
		},
		{
			name: 'Slim-fit medium wash Tim jeans',
			subtitle: '',
			price: '$362.00',
			oldprice: '',
			color: '',
			fsale: '',
			fnew: 'new',
			rating: '',
			color_star: ['','','','','',],
			img: 'img/05result3.jpg',
			heart: true,
			page: 3,
			button:  false,
		},
		{
			name: 'Sleeveless T-Shirt With Dropped Armhole',
			subtitle: '',
			price: '$100.00',
			oldprice: '',
			color: '',
			fsale: '',
			fnew: '',
			rating: '',
			color_star: ['','','','','',],
			img: 'img/05result4.jpg',
			heart: true,
			page: 3,
			button: false,
		},
	]

mixin itemProduct(objItem)
	//-зачем нужен класс item_grid и если нужен, то неправильное название. 
	div.item.item_grid 
		div.item_block(class = objItem.page == 1 ? "item_block__page2-rec" : 
								objItem.page == 2 ? "item_block__page2-home" :
								objItem.page == 3 ? "item_block__product" : "")
			a(href="#").ank
				img(src="" + objItem.img)
		div.item_text(class = objItem.page ==1 ? "item_text__page2-rec" : 
								objItem.page == 2 ? "item_text__page2-home" : 
								objItem.page == 3 ? "item_text__product" : 
								objItem.page == 5 ? "item_text__p-search" :"")
			div.item_text__name(class = objItem.page ==1 ? "item_text__name-rec" :
										objItem.page == 2 ? "item_text__name-home" : "")=objItem.name
			div.item_text__subtitle=objItem.subtitle
			div.item_text__price(class = objItem.page ==1 ? "item_text__price-rec" : "")
				//-по БЄМ должно біть item_newprice и item_oldprice
				//- почему инлайн стили, а не модификатор
				span.newprice(style = "color: " + objItem.color)=objItem.price 
				span.oldprice=objItem.oldprice
			div.item_text__rating
				if objItem.rating
					each itemAr in objItem.color_star
						//- почему инлайн стили, а не модификатор
						i.fa.fa-star(style = "color: " + itemAr)
			div.item_text__heart
				if objItem.heart
					i.far.fa-heart
		div.tooltip.tooltip__page3
			div.tooltip__page3-sale=objItem.fsale
			// div.tooltip__page3-new=objItem.fnew
			// было это условие , переписала под наш с Лешей флажок
			div(class = objItem.page == 1  ? "tooltip__page2" : 
						objItem.page == 5  ? "tooltip__page2" : "tooltip__page3-new")=objItem.fnew
	if objItem.button == true
		button.home_button.home_button__rec add to cart ->

mixin itemGrid(dataMixin)
	ul.row
		each objItem in dataMixin
			li.col.col-sm-4
				+itemProduct(objItem).



mixin homepage_home(dataMixin_homepage_home)
	ul.row
		each objItem in dataMixin_homepage_home
			li.col.col-sm-6
				+itemProduct(objItem)

mixin homepage_rec(dataMixin_homepage_rec)
	ul.row
		each objItem in dataMixin_homepage_rec
			li.col.col-sm-3
				+itemProduct(objItem)


