doctype html
html(lang='en')
	head
		title Ocolus Homepage Fashion
		link(rel="stylesheet", href="dev/pages/home_fashion/home_fashion.css")
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
		link(rel="stylesheet", href="dev/general/fonts/fonts.css")
		link(rel="stylesheet", href="dev/general/Normalize.css")
		link(link rel="shortcut icon" href="img/img_service/favicon.ico" type="image/png")

	body
		.header
			.header_top
				.language
					p.language_title._selecttitle
					select.language_select._select(name='language')
						option(value='english') English
						option(value='ukrainian') Ukrainian
						option(value='russian') Russian
				.menu
						a.menu_item WOMEN
						a.menu_item MEN
						a.menu_item CHILDREN
						a.menu_item ACCESSORIES 
						a.menu_item BLOG 
						a.menu_item CONTACT
				.basket
					a.backet_link $0.0 ITEMS
			.header_down
				a.header_down_link
					img(src="img/img_service/line.svg", alt="")
				a.header_down_logo
					img(src="img/img_service/logo.png", alt='logo')
				a.header_down_search
					img(src="img/img_service/search.svg", alt="")
		.main
			h1.main_title Use Instagram to Boost Your Online Sales
			p.main_text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been <br> the industry's standard dummy text ever since the 1500s
			.container.layout
				.row.layout_row
					.col-3.layout_row_item
						img(src="img/01fashion_1.jpg", alt="")
					.col-3.layout_row_item
						img(src="img/01fashion_2.jpg", alt="")
					.col-3.layout_row_item
						img(src="img/01fashion_3.jpg", alt="")
					.col-3.layout_row_item
						img(src="img/01fashion_4.jpg", alt="")
				.row.layout_row
					.col-3.layout_row_item
						img(src="img/01fashion_5.jpg", alt="")
					.col-3.layout_row_item
						img(src="img/01fashion_6.jpg", alt="")
					.col-3.layout_row_item
						img(src="img/01fashion_7.jpg", alt="")
					.col-3.layout_row_item
						img(src="img/01fashion_8.jpg", alt="")
				.row.layout_row
					.col-3.layout_row_item
						img(src="img/01fashion_9.jpg", alt="")
					.col-3.layout_row_item
						img(src="img/01fashion_10.jpg", alt="")
					.col-3.layout_row_item
						img(src="img/01fashion_11.jpg", alt="")
					.col-3.layout_row_item
						img(src="img/01fashion_12.jpg", alt="")
		.footer
			h1.footer_title Join Our Newsletter
			form.form(method="post" action="#")
				input.form_input(type="email" id="email" name="subscribe" placeholder="Enter your email address"  required)
				button.form_button(type="button") Subscribe 
			.menu.menu__footer
				a.menu_item.menu_item__footer WOMEN
				a.menu_item.menu_item__footer MEN
				a.menu_item.menu_item__footer CHILDREN
				a.menu_item.menu_item__footer ACCESSORIES 	
				a.menu_item.menu_item__footer BLOG 
				a.menu_item.menu_item__footer CONTACT
			.social
				a
					img.social_item(src="img/img_service/fb.png", alt="")
				a
					img.social_item(src="img/img_service/TW.png", alt="")
				a
					img.social_item(src="img/img_service/GG.png", alt="")
				a
					img.social_item(src="img/img_service/PP.png", alt="")
				a
					img.social_item(src="img/img_service/IN.png", alt="")
			p.footer_copypight © 2018 Ocolus. All Rights Reserved
		script( src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
		script( src="dev/pages/home_fashion/home_fashion.js")

